extends layout

block content
  div(class="container-fluid")
    nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
      div(class="container-fluid")
        a(class="navbar-brand" href="#") URL Shortener

    div(class="row")
      div(class="col-6 mx-auto pt-4")
        form(role="form" action="" method="POST")
          div(class="mb-3 pt-4")
            label(class="form-label") Generate random link with(out) TLS(SSL)
            div(class="form-text") You must enter a domain name
            div(class="form-floating")
              input(type="text" class="form-control" placeholder="ex: http(s)://mydomain.fr" id="urlshortener" name="urlshortener")
              label(for="floatingInput") ex: http(s)://mydomain.fr      
              button(type="submit" class="btn btn-primary mt-4") Generate

        if err
          div(class="alert alert-warning text-center" role="alert")
            p #{err}

        if msg
          div(class="alert alert-success text-center" role="alert")
            p #{msg}
              br
              a(href=urlRoot class="alert-link") #{url}
            p Destination:
              br
              a(href=urlRoot class="alert-link") #{urlRoot}

